<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">


    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">

  </head>
  <body>
    <div class="splash-container">
      <div class="splash">
        <img src="/img/logo.png" alt="">
      </div>
    </div>

    <div class="content-wrapper">
      <div class="content">
        <h2 class="content-head is-center">NodeCopter Uruguay</h2>

        <div class="pure-g">
          <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">

            <h3 class="content-subhead">
              Qué es?
            </h3>
            <p>
              Nodecopter es un evento que nace en Europa promoviendo el hacking
              a Ardrones, quadcopters de bajo costo que pueden ser facilmente
              personalizables.
            </p>
          </div>
          <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
            <h3 class="content-subhead">
              Qué requisitos tiene?
            </h3>
            <p>
              Realizar proyectos
            </p>
          </div>
          <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
            <h3 class="content-subhead">
              Modular
            </h3>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            </p>
          </div>
          <div class="l-box pure-u-1 pure-u-med-1-2 pure-u-lrg-1-4">
            <h3 class="content-subhead">
              <i class="fa fa-check-square-o"></i>
              Plays Nice
            </h3>
            <p>
              Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
            </p>
          </div>
        </div>
      </div>

      <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
          <img class="pure-img-responsive" alt="File Icons" width="300" src="/img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

          <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor.
          </p>
        </div>
      </div>

      <div class="content">
        <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>

        <div class="pure-g">
          <div class="l-box-lrg pure-u-1 pure-u-med-2-5">
            <form class="pure-form pure-form-stacked">
              <fieldset>
                <input id="email" type="email" placeholder="Tu email">

                <button type="submit" class="pure-button">Sign Up</button>
              </fieldset>
            </form>
          </div>

          <div class="l-box-lrg pure-u-1 pure-u-med-3-5">
            <h4>Contact Us</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
            </p>

            <h4>More Information</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        </div>

      </div>

      <div class="footer l-box is-center">
        @nodecoperUY
      </div>

    </div>


  </body>
</html>
